In [1]:
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.24.89-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 5.1 MB/s
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.1 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting botocore<1.28.0,>=1.27.89
  Downloading botocore-1.27.89-py3-none-any.whl (9.2 MB)
     |████████████████████████████████| 9.2 MB 45.1 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.28.0,>=1.27.89->boto3) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 59.3 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.89->boto3) (1.15.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.12 which is incompatible.
Successfully installed boto3-1.24.89 botocore-1.27.89 jmespath-1.0.1 s3transfer-0.6.0 urllib3-1.26.12

In [ ]:
import json
import boto3
import pandas as pd
import pymongo
import csv

In [ ]:
Data = pd.read_csv("/content/sample_data/data_lesparticuliers.csv")

In [ ]:
Data.shape

(1248, 4)

In [ ]:
Data

,Titre,Prix,Ville,Date
0,KIA PICANTO ESSENCE,7200 €,BOUILLANTE,20/09/2022
1,206+ essence,4200 €,CAYENNE,04/10/2022
2,Dacia essence,3200 €,CAYENNE,04/10/2022
3,"A saisir, Twingo 2 places, 6500 euros",6500 €,KOUROU,04/10/2022
4,Partner,2500 €,LE BLANC,03/10/2022
...,...,...,...,...
1243,Occasion véhicule,450 €,ST JUNIEN,05/04/2022
1244,Mitsubishi L200 2 5 8 chevaux fiscaux 5 places,20500 €,AUBENAS,05/04/2022
1245,Dans l état pour pièce ou a réparer,1000 €,ST PAUL,05/04/2022
1246,208 utilitaire 1l6 hdi 100ch,6000 €,LE GUILLAUME,05/04/2022
1247,Kangoo,2000 €,ST MARTIN DE FRESSENGEAS,05/04/2022

## Connecter et lister tous les buckets

In [ ]:
client = boto3.client('s3',
                      aws_access_key_id='AKxxxxxxxxxxxxxxxxxxxx',
                      aws_secret_access_key='qdfCxxxxxxxxxxxxxxxxxxxxxxxxxx',
                      region_name='eu-west-1')

In [ ]:
client = boto3.client('s3',aws_access_key_id='AKxxxxxxxxxxxxxxxxxxxx',
                      aws_secret_access_key='qdfCxxxxxxxxxxxxxxxxxxxxxxxxxx',region_name='eu-west-1')

response = client.list_buckets()

for bucket in response['Buckets']:
    print('Bucket name= {}'.format(bucket['Name']))
    print('Creation date= {}'.format(bucket['CreationDate']))
    print('============')

Bucket name= buc-ket
Creation date= 2022-10-10 09:34:35+00:00
============
Bucket name= buc-ket-three
Creation date= 2022-10-12 08:48:03+00:00
============
Bucket name= buc-ket-twobis
Creation date= 2022-10-12 08:55:41+00:00
============
Bucket name= bucket-cer
Creation date= 2022-10-07 12:33:46+00:00
============
Bucket name= cn-bucket
Creation date= 2022-10-10 09:19:56+00:00
============

## Afficher les métadonnées du Bucket

In [ ]:
response = client.list_objects(
    Bucket='bucket-cer'
)

In [ ]:
response

{'ResponseMetadata': {'RequestId': '2J8W0RG5JDKH4X30',
  'HostId': 'SIQRwXCERmagZnFW3I5/ji2dvtGGTVSfM3LhpVkqp1hYXWFV6ujMSOgcCBMuEGNo1w0NOS9UJJA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'SIQRwXCERmagZnFW3I5/ji2dvtGGTVSfM3LhpVkqp1hYXWFV6ujMSOgcCBMuEGNo1w0NOS9UJJA=',
   'x-amz-request-id': '2J8W0RG5JDKH4X30',
   'date': 'Wed, 12 Oct 2022 08:47:26 GMT',
   'x-amz-bucket-region': 'us-east-1',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 1},
 'IsTruncated': False,
 'Marker': '',
 'Contents': [{'Key': 'data_lesparticuliers.csv',
   'LastModified': datetime.datetime(2022, 10, 7, 13, 6, 25, tzinfo=tzlocal()),
   'ETag': '"6271a6a6b10a4df2ded5da3a2d711fe4"',
   'Size': 69379,
   'StorageClass': 'STANDARD',
   'Owner': {'DisplayName': 'cheikhndiaye02',
    'ID': '408d666b014dda8c9a93908590f7b3b189892faa496f071a02f7e5df9b69cdd0'}},
  {'Key': 'data_lesparticuliers.json',
   'LastModified': datetime.datetime(2022, 10, 7, 13, 6, 25, tzinfo=tzlocal()),
   'ETag': '"d80a307f5b15cd3006731e2bc1e8283e"',
   'Size': 127944,
   'StorageClass': 'STANDARD',
   'Owner': {'DisplayName': 'cheikhndiaye02',
    'ID': '408d666b014dda8c9a93908590f7b3b189892faa496f071a02f7e5df9b69cdd0'}}],
 'Name': 'bucket-cer',
 'Prefix': '',
 'MaxKeys': 1000,
 'EncodingType': 'url'}

## Créer un Bucket

In [ ]:

response = client.create_bucket(
    ACL='private',
    Bucket='buc-ket-two',
    CreateBucketConfiguration={
        'LocationConstraint': 'eu-west-1'
    }
)

print(response)

{'ResponseMetadata': {'RequestId': '9N8VTGE007345BS6', 'HostId': 'UFCSfM5jVrKkTOIFcLQiQIfXAydME7+jSLmmzr4F48GlUcG4FiInfpSKCnk6iOHqRZ5cTMzNsl8=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'UFCSfM5jVrKkTOIFcLQiQIfXAydME7+jSLmmzr4F48GlUcG4FiInfpSKCnk6iOHqRZ5cTMzNsl8=', 'x-amz-request-id': '9N8VTGE007345BS6', 'date': 'Wed, 12 Oct 2022 09:10:41 GMT', 'location': 'http://buc-ket-two.s3.amazonaws.com/', 'server': 'AmazonS3', 'content-length': '0'}, 'RetryAttempts': 0}, 'Location': 'http://buc-ket-two.s3.amazonaws.com/'}

## Charger un fichier

In [ ]:
file_name = '/content/sample_data/data_lesparticuliers.csv'
file_reader = open(file_name).read()

response = client.put_object(
    ACL='private',
    Bucket='buc-ket-two',
    Key=file_name,
    Body=file_reader
)

response

{'ResponseMetadata': {'RequestId': '2BDPMA8N8GERHM5J',
  'HostId': '0i7SOkW/rdN/pezqIlVdYsnlg5ohGHt1SQTTqNqjFySEgvBvv4rag+EQ8CcoaL7N3rxAdOwmvRI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '0i7SOkW/rdN/pezqIlVdYsnlg5ohGHt1SQTTqNqjFySEgvBvv4rag+EQ8CcoaL7N3rxAdOwmvRI=',
   'x-amz-request-id': '2BDPMA8N8GERHM5J',
   'date': 'Wed, 12 Oct 2022 09:11:05 GMT',
   'etag': '"6271a6a6b10a4df2ded5da3a2d711fe4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"6271a6a6b10a4df2ded5da3a2d711fe4"'}

In [ ]:
obj = client.get_object(
    Bucket='buc-ket-two',
    Key = '/content/sample_data/data_lesparticuliers.csv'
)

In [ ]:
print(obj)

{'ResponseMetadata': {'RequestId': 'AV0F079FDSRJ7JK4', 'HostId': 'knvXW7zdoPfwEU03R2nm/KB7n4zj7s4+cARZtkxVSKiNv9arcDU7P3egknSKbXNDcKfxiNPm8sM=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'knvXW7zdoPfwEU03R2nm/KB7n4zj7s4+cARZtkxVSKiNv9arcDU7P3egknSKbXNDcKfxiNPm8sM=', 'x-amz-request-id': 'AV0F079FDSRJ7JK4', 'date': 'Wed, 12 Oct 2022 10:27:41 GMT', 'last-modified': 'Wed, 12 Oct 2022 09:11:05 GMT', 'etag': '"6271a6a6b10a4df2ded5da3a2d711fe4"', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'server': 'AmazonS3', 'content-length': '69379'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2022, 10, 12, 9, 11, 5, tzinfo=tzutc()), 'ContentLength': 69379, 'ETag': '"6271a6a6b10a4df2ded5da3a2d711fe4"', 'ContentType': 'binary/octet-stream', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x7f887cd99a90>}

In [ ]:
df =  pd.read_csv(obj['Body'])
print(df)

                                               Titre     Prix  \
0                                KIA PICANTO ESSENCE   7200 €
1                                       206+ essence   4200 €
2                                      Dacia essence   3200 €
3              A saisir, Twingo 2 places, 6500 euros   6500 €
4                                            Partner   2500 €
...                                              ...      ...
1243                               Occasion véhicule    450 €
1244  Mitsubishi L200 2 5 8 chevaux fiscaux 5 places  20500 €
1245             Dans l état pour pièce ou a réparer   1000 €
1246                    208 utilitaire 1l6 hdi 100ch   6000 €
1247                                          Kangoo   2000 €

                         Ville        Date
0                   BOUILLANTE  20/09/2022
1                      CAYENNE  04/10/2022
2                      CAYENNE  04/10/2022
3                       KOUROU  04/10/2022
4                     LE BLANC  03/10/2022
...                        ...         ...
1243                 ST JUNIEN  05/04/2022
1244                   AUBENAS  05/04/2022
1245                   ST PAUL  05/04/2022
1246              LE GUILLAUME  05/04/2022
1247  ST MARTIN DE FRESSENGEAS  05/04/2022

[1248 rows x 4 columns]

In [ ]:
df

,Titre,Prix,Ville,Date
0,KIA PICANTO ESSENCE,7200 €,BOUILLANTE,20/09/2022
1,206+ essence,4200 €,CAYENNE,04/10/2022
2,Dacia essence,3200 €,CAYENNE,04/10/2022
3,"A saisir, Twingo 2 places, 6500 euros",6500 €,KOUROU,04/10/2022
4,Partner,2500 €,LE BLANC,03/10/2022
...,...,...,...,...
1243,Occasion véhicule,450 €,ST JUNIEN,05/04/2022
1244,Mitsubishi L200 2 5 8 chevaux fiscaux 5 places,20500 €,AUBENAS,05/04/2022
1245,Dans l état pour pièce ou a réparer,1000 €,ST PAUL,05/04/2022
1246,208 utilitaire 1l6 hdi 100ch,6000 €,LE GUILLAUME,05/04/2022
1247,Kangoo,2000 €,ST MARTIN DE FRESSENGEAS,05/04/2022

## Nouvelle section

In [ ]:
con = pymongo.MongoClient("mongodb://3.248.206.233:27017")

In [ ]:
db = con.dbfroms3

In [ ]:
bucket_name='buc-ket-two'

In [ ]:
client = boto3.client('s3',
                      aws_access_key_id='AKxxxxxxxxxxxxxxxxxxxx',
                      aws_secret_access_key='qdfCxxxxxxxxxxxxxxxxxxxxxxxxxx',
                      region_name='eu-west-1')

In [ ]:
response = client.list_objects(
    Bucket = bucket_name
)

In [ ]:
objectlist = [ content["Key"]for content in response['Contents']]
print(objectlist)

['/content/sample_data/data_lesparticuliers.csv']

In [ ]:
header = {
    "data_lesparticuliers":['userid','Titre','Prix','ville','Date']}

In [ ]:
for objectx in objectlist:
    s3Object= client.get_object(
        Bucket= bucket_name,
        Key = objectx
    )
    for headx in header :
        if headx in objectx :
            hKey = headx
    if "tab" in objectx:
        sep='\t'
    else : sep='|'
    collection=objectx.split("-")[0]
    data = pd.DataFrame(pd.read_csv(s3Object['Body'],delimiter=sep,names=header [hKey],index_col=False))
    records=json.loads(data.T.to_json()).values()
    db[collection].insert_many(records)
    print(collection,'done')

ServerSelectionTimeoutError: ignored

In [ ]:
df.isna().sum()

Titre    0
Prix     9
Ville    0
Date     0
dtype: int64

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
df.shape

(1239, 4)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df

,Titre,Prix,Ville,Date
0,KIA PICANTO ESSENCE,7200 €,BOUILLANTE,20/09/2022
1,206+ essence,4200 €,CAYENNE,04/10/2022
2,Dacia essence,3200 €,CAYENNE,04/10/2022
3,"A saisir, Twingo 2 places, 6500 euros",6500 €,KOUROU,04/10/2022
4,Partner,2500 €,LE BLANC,03/10/2022
...,...,...,...,...
1243,Occasion véhicule,450 €,ST JUNIEN,05/04/2022
1244,Mitsubishi L200 2 5 8 chevaux fiscaux 5 places,20500 €,AUBENAS,05/04/2022
1245,Dans l état pour pièce ou a réparer,1000 €,ST PAUL,05/04/2022
1246,208 utilitaire 1l6 hdi 100ch,6000 €,LE GUILLAUME,05/04/2022
1247,Kangoo,2000 €,ST MARTIN DE FRESSENGEAS,05/04/2022

### Suppression du caractère €

In [ ]:
df=df.replace('\€','',regex=True)

df

,Titre,Prix,Ville,Date
0,KIA PICANTO ESSENCE,7200,BOUILLANTE,20/09/2022
1,206+ essence,4200,CAYENNE,04/10/2022
2,Dacia essence,3200,CAYENNE,04/10/2022
3,"A saisir, Twingo 2 places, 6500 euros",6500,KOUROU,04/10/2022
4,Partner,2500,LE BLANC,03/10/2022
...,...,...,...,...
1243,Occasion véhicule,450,ST JUNIEN,05/04/2022
1244,Mitsubishi L200 2 5 8 chevaux fiscaux 5 places,20500,AUBENAS,05/04/2022
1245,Dans l état pour pièce ou a réparer,1000,ST PAUL,05/04/2022
1246,208 utilitaire 1l6 hdi 100ch,6000,LE GUILLAUME,05/04/2022
1247,Kangoo,2000,ST MARTIN DE FRESSENGEAS,05/04/2022

In [ ]:

df = df.sort_values(by=["Prix"])

In [ ]:
df

,Titre,Prix,Ville,Date
822,Vous cherchez une voiture économique?,1,LIBOURNE,01/06/2022
951,Citroën C5 Phase 2,1,CAHON,16/05/2022
461,MAZDA 6 BREAK SPORT 2.0 16V 136CV,1,VILLE LA GRAND,24/07/2022
773,Voiture Citroën Picasso,1,DINARD,06/06/2022
641,"Totota Aygo 1,4 l Diesel VP Confort",1,MONTAUBAN DE BRETAGNE,29/06/2022
...,...,...,...,...
729,TOYOTA YARIS 2016 HYBRID,9900,ST LEU,14/06/2022
168,Ford Ranger 2.5TDCI 4x4-Maxi 87000KM Clima -20...,9950,PARIS 18EME ARRONDISSEMENT,07/09/2022
1021,MERCEDES C220,9990,BREST,08/05/2022
751,VOLKSWAGGEN Coccinelle 1.6 TDI 105ch FAP Coutu...,9994,BAIE MAHAULT,12/06/2022
273,DS 3 / Excellent état,9999,PLESIDY,23/08/2022

In [ ]:
df.drop(df.loc[df['Prix'].astype(float) < 1000 ].index, inplace=True)

In [ ]:
df

,Titre,Prix,Ville,Date
81,PEUGEOT 307 HDI,1000,STE SUZANNE,20/09/2022
536,Pour pièces Clio roulante accidentée 130000 kms,1000,PACE,11/07/2022
538,Peugeot 406 hpi,1000,DRAGUIGNAN,11/07/2022
1162,Audi,1000,SARCELLES,18/04/2022
645,En vente dans l'état!,1000,MAUBEUGE,28/06/2022
...,...,...,...,...
729,TOYOTA YARIS 2016 HYBRID,9900,ST LEU,14/06/2022
168,Ford Ranger 2.5TDCI 4x4-Maxi 87000KM Clima -20...,9950,PARIS 18EME ARRONDISSEMENT,07/09/2022
1021,MERCEDES C220,9990,BREST,08/05/2022
751,VOLKSWAGGEN Coccinelle 1.6 TDI 105ch FAP Coutu...,9994,BAIE MAHAULT,12/06/2022
273,DS 3 / Excellent état,9999,PLESIDY,23/08/2022

In [ ]:
df = df[df['Prix'].astype(float) > 7000]

In [ ]:
df

,Titre,Prix,Ville,Date
957,MERCEDES BREAK 280 CDI,10000,MENUCOURT,16/05/2022
93,Mercedes,10000,ST BENOIT,19/09/2022
1079,"Seat Ibiza IV 1,2 TSI 90 ch",10000,GARDANNE,30/04/2022
1063,Audi A3,10000,ST DENIS,03/05/2022
413,Opel Adam s,10000,AMANVILLERS,01/08/2022
...,...,...,...,...
729,TOYOTA YARIS 2016 HYBRID,9900,ST LEU,14/06/2022
168,Ford Ranger 2.5TDCI 4x4-Maxi 87000KM Clima -20...,9950,PARIS 18EME ARRONDISSEMENT,07/09/2022
1021,MERCEDES C220,9990,BREST,08/05/2022
751,VOLKSWAGGEN Coccinelle 1.6 TDI 105ch FAP Coutu...,9994,BAIE MAHAULT,12/06/2022
273,DS 3 / Excellent état,9999,PLESIDY,23/08/2022

In [ ]:
df = df[df['Prix'].astype(float) > 15000]

In [ ]:
df

,Titre,Prix,Ville,Date
1033,Voiture de collection,100000,MONTLOUIS SUR LOIRE,07/05/2022
333,Cause départ,120000,BELLE PIERRE,15/08/2022
774,Dacia sandero,140000,KERTUGAL,06/06/2022
1211,HYUNDAI KONA 1.0 T-GDI 120 EDITION #1,15250,BOUC BEL AIR,09/04/2022
1077,Golf 7,15300,POITIERS,01/05/2022
...,...,...,...,...
122,Mercedes GLC coupé,55000,TOULON,14/09/2022
236,Nissan gtr,59900,DAMPARIS,28/08/2022
675,Porsche 356 sc 90 hp,61500,PARIS 6EME ARRONDISSEMENT,24/06/2022
119,Véhicule hybride Jeep Wrangler Unlimited,69000,STE MAXIME,14/09/2022
55,Riley spécial 12 / 4 sport,72000,ST GAUDENS,24/09/2022